// COLOR HELPERS

.font-true-red {
	color: $true-red  !important;
}

.font-true-white {
	color: $true-white  !important;
}

.font-true-black {
	color: $true-black  !important;
}

.font-true-blue {
	color: $true-blue  !important;
}

.font-medium-blue {
	color: $medium-blue  !important;
}

.font-medium-grey {
	color: $medium-grey  !important;
}

.font-dark-grey {
	color: $dark-grey  !important;
}

.font-bright-orange {
	color: $bright-orange  !important;
}

.font-bright-green {
	color: $bright-green  !important;
}

.font-bright-blue {
	color: $bright-blue  !important;
}

.font-deep-blue {
	color: $deep-blue  !important;
}



// background color helpers

.bg--true-red {
	background-color: $true-red  !important;
}

.bg--true-white {
	background-color: $true-white  !important;
}

.bg--true-black {
	background-color: $true-black  !important;
}

.bg--true-blue {
	background-color: $true-blue  !important;
}

.bg--medium-blue {
	background-color: $medium-blue  !important;
}

.bg--medium-grey {
	background-color: $medium-grey  !important;
}

.bg--dark-grey {
	background-color: $dark-grey  !important;
}

.bg--bright-orange {
	background-color: $bright-orange  !important;
}

.bg--bright-green {
	background-color: $bright-green  !important;
}

.bg--bright-blue {
	background-color: $bright-blue  !important;
}

.bg--deep-blue {
	background-color: $deep-blue  !important;
}

.bg--background-grey {
	background-color: $background-grey  !important;
}

// border color helpers

.border--true-red {
	border-color: $true-red  !important;
}

.border--true-white {
	border-color: $true-white  !important;
}

.border--true-black {
	border-color: $true-black  !important;
}

.border--true-blue {
	border-color: $true-blue  !important;
}

.border--medium-blue {
	border-color: $medium-blue  !important;
}

.border--medium-grey {
	border-color: $medium-grey  !important;
}

.border--disabled-grey {
	border-color: $disabled-grey  !important;
}

.border--dark-grey {
	border-color: $dark-grey  !important;
}

.border--bright-orange {
	border-color: $bright-orange  !important;
}

.border--bright-green {
	border-color: $bright-green  !important;
}

.border--bright-blue {
	border-color: $bright-blue  !important;
}

.border--deep-blue {
	border-color: $deep-blue  !important;
}


