// spacer helpers
.spacer-8 {
    width: 100%;
    height: 0.5rem;
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.spacer-16 {
    width: 100%;
    height: 1rem;
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.spacer-24 {
    width: 100%;
    height: 1.5rem;
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.spacer-32 {
    width: 100%;
    height: 2rem;
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.spacer-48 {
    width: 100%;
    height: 3rem;
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.spacer-64 {
    width: 100%;
    height: 4rem;
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.spacer-8 {
    width: 100%;
    height: 0.5rem;
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.spacer-16 {
    width: 100%;
    height: 1rem;
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.spacer-24 {
    width: 100%;
    height: 1.5rem;
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.spacer-32 {
    width: 100%;
    height: 2rem;
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.spacer-48 {
    width: 100%;
    height: 3rem;
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.spacer-64 {
    width: 100%;
    height: 4rem;
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 0;
}