<cwc-sidenav-menu-item label="Dashboard" icon-name="module-control-center" [routerLink]="['/dashboard']" routerLinkActive="active"></cwc-sidenav-menu-item>
<cwc-sidenav-menu-item label="UserInfo" icon-name="module-customer-dashboard" [routerLink]="['/userInfo']" routerLinkActive="active"></cwc-sidenav-menu-item>
<!-- <cwc-sidenav-menu-item label="Planning" icon-name="module-commercial-condition" [routerLink]="['/planning']"></cwc-sidenav-menu-item> -->
<!-- <cwc-sidenav-menu-item label="Tickets" icon-name="document" [routerLink]="['/tickets']"></cwc-sidenav-menu-item> -->
<!-- <cwc-sidenav-menu-item label="Performace" icon-name="module-customer-dashboard" [routerLink]="['/performace']"></cwc-sidenav-menu-item> -->

