// responsive breakpoint

$responsive-breakpoint-as-min: 768px;
$responsive-breakpoint-as-max: 767px;

// standard measures for line-thickness and spacing
$one-sixteenth-rem: 0.0625rem;
$three-sixteenths-rem: 0.1875rem;

$standard-height : 2.5rem;
